#header {
  background: url("../images/bannerT.png");
  width: 1360px;
  height: 382px;
  padding: 0px;
  margin-left: 250px;
}

ul{
  list-style-type: none; <!-- removes bullet-->
  margin: 0;
  padding: 8px;
  overflow: hidden;
  background-color: black;
  text-align: center;
}
li {
  display: inline;
}
li a {
  display: block;
  display: inline;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
li a:hover {
  background-color: #111
}
section{
  border-bottom: solid;
  border-color: #FF9000;
  padding-top: 0px;
  border-width: 7px;
  padding-bottom: 0px;
}

h1{
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  padding-top: 15px;
  margin-top: 10px;
  height: 70px;
  width: auto;
  background-color: #7092BE;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
}

.triangleNode a {
  color: white;
  text-decoration: none;
  position:absolute;
}

.container {
display: flex;
position: relative;
z-index: 100;
justify-content: center;
box-align: center;
align-items: center;
height: 100%;
height: 100vh;
}

.triangleRow {
display: flex;
justify-content: center;
box-align: center;
}
.triangleNode {
  position: relative;
  text-align: center;
display: inline-block;
border-color: #7092BE;
z-index: 100;
width: 0;
height: 0;
padding: 0;
margin: 5px -32px;
border-style: solid;
transition: transform 0.8s ease;
transform: rotateY(0deg) scale(1.01);
}

.triangleNode:nth-of-type(odd) {
border-width: 0 75px 129.9px 75px;
border-top-color: transparent !important;
border-right-color: transparent !important;
border-left-color: transparent !important;
border-color: rgba(112, 146, 190, 0.7);
}
.triangleNode:nth-of-type(odd) a {
  bottom: -125px;
  left:-40px;
}
.triangleNode:nth-of-type(even) {
border-width: 129.9px 75px 0 75px;
border-right-color: transparent !important;
border-bottom-color: transparent !important;
border-left-color: transparent !important;
border-color: rgba(112, 146, 190, 0.7);
}
.triangleNode:nth-of-type(even) a {
top: -125px;
right: -40px;
}
.triangleNode:hover {
transform: scale(1.5);
z-index: 101;
border-color: #7092BE;
}
.footer1 {
  background-color: #7092BE;
  box-sizing: border-box;
  text-align: left;
  height: 150px;
  padding: 15px;
  color: white;
}
.footer1 .footer-right{
  float:right;
  margin: 15px;
  letter-spacing: 4px;
  font-size: 30px;
  color: white;
}
.footer1 .footer-left {
}
.footer-right a{
  color: white;
}
a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
}
a:hover{
  opacity: 0.5;
  color: #FF9000;
}
h3{
  margin-top: 15px;
  text-align: left;
  color: white;
  padding-bottom: 15px;
}
p{
  color: white;
  text-align: left;
}
.fa-linkedin-in{
  color: white;
}
  .fa-linkedin-in:hover{
    opacity: 0.5;
    color: #FF9000;
  }

.fa-envelope{
    color: white;
}
  .fa-envelope:hover{
    opacity: 0.5;
    color: #FF9000;
  }
.fa-facebook-square{
  color: white;
}
    .fa-facebook-square:hover{
      opacity: 0.5;
      color: #FF9000;
    }
.fa-instagram{
  color: white;
}
  .fa-instagram:hover{
    opacity: 0.5;
    color: #FF9000;
  }
.fa-phone{
  color: white;
}
  .fa-phone:hover{
    opacity: 0.5;
    color: #FF9000;
  }
